@import url("https://fonts.googleapis.com/css?family=Oswald:500");

/* ==========================================================================
   #Header
   ========================================================================== */

.navbar-brand {
    padding: 0px;
    margin: auto;
    display: block;
    width: 400px;
    height: 100px;
    top: 20px;
}

a {
    text-decoration: none;
}

.line {
    margin: 0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav {
    height: 50px;
    width: 100px;
}

.navbar-nav:hover {
    color: black;
}

.nav-link:hover {
    color: black;
    font-weight: bolder;
}

.imageCenter {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: -between;
}

.input-group-text {
    margin-left: 5px;
    width: 40px;
    height: 37px;
}

.btn-outline-dark:hover {
    /* background-color: grey; */
    color: white;
}

.btn {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}